In [ ]:
########## python divided 3 parts

-----------------------------basics
1.variables
2.data types
3.type conversions
4.evel input
5.packages
6.try except
7.conditional statements
8.functions
9.for
10.while
---------------------------intermediate
11.strings
12.lists
13.dictionary
14.tuples(you will do this)
15.sets
16.lamda functions
17.file handling
-------------------------advanced
18.oops

--------------------------------part-1-------------------------

- initialisation
- type
- len
- max
- min
- sorted
- reversed
- in
- for loop using in
- index
- for loop using index
- mutable
- concatenation

------------------------------part-2--------------------------

# methods

**Initialisation**

In [1]:
str1='python'
str1

'python'

In [2]:
str2="python"
str2

'python'

In [3]:
print(str1)       # do not confuse im not setting the quotes

python

**Note**

- if we mentioned single or double quotes by default python provides in single quotes only.

- if we print the strings we will answer without quotes

- tripple quote are using for doc string

- in order to convey the information about coding part we will use doc 

- ant thing insidde the single or double quotes is considered as string in pyton

**Tripple quotes**

In [4]:
str3="""hi how are you
              im good"""
str3

'hi how are you\n              im good'

**Type**

In [5]:
type(str1)    # type is string time

str

In [8]:
str4='10'          # integer value in the form of string
str5='10.5'        # float  value in the form of string
str6='123abc'       # integer and string values in the form of string
str7='True'         # boolean value in the form of string
str4
str5
str6
str7

'True'

**Len**

In [11]:
str1='python'
len(str1)

5

**Max and Min**

In [12]:
str1='python'
max(str1)

'y'

In [13]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [14]:
str1='python'
min(str1)

'h'

**Keywords Vs Methods**

In [15]:
type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)
input(<>)
sum(<>)

SyntaxError: invalid syntax (3915962179.py, line 1)

In [17]:
- in order to use methods we need to call package

import random
random.randint()


import math
math.sqrt()


import time
time.sleep()

In [20]:
str1='python123'
(str1)

'python123'

In [19]:
str1='python123'
sum(str1)       # we can't add strings and integer

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
sum([1,2,3,4,5,6,7,8,9,10])

55

**Sorted**

In [ ]:
len('python')
min('python')
max('python')
print('python')

In [23]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

- sorted gives ascending order based on ASCII numbers

- sorted is kind of a function

- every function we have arguments

- In that one default argument is **reverse=False**

- By default sorted output gives **ascending order**

- we can change the order,by providing **reverse=true**

- **If we do not mention, it will give the default answer**

In [44]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [45]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

**Complex**

In [32]:
complex(10,20)        # 0+0j

(10+20j)

In [5]:
complex(real=10,imag=30)         # real and imaginary values

(10+30j)

In [33]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [4]:
function()  # Answer
funtion(a,b)   # this may return error
funtion(a=10,b=10)

NameError: name 'function' is not defined

In [3]:
function() 
funtion(a,b)  
funtion(a=10,b=10)

NameError: name 'function' is not defined

In [37]:
import random
random.random()       ##########

0.5578836547703225

In [35]:
import random
random.randint(10,20)    # Answer we can change

19

In [40]:
complex()    # by default 0,0

0j

In [39]:
complex(10,20)

(10+20j)

In [2]:
sorted(iterable='python')   # error  
random.randint(a=10,b=20)   # answer

TypeError: sorted expected 1 argument, got 0

In [1]:
sorted('python')   # Answer
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

**Note**

- we have arguments before / and after slash

- we can use the argument names after / only

- for example sorted has two arguments one is iterable and another is reverse

- iterable is mentioned before / symbol

- reverse is mentioned after / symbol

- so we can use only reverse argument name while we are doing the work

- we can not use iterable argument name

- instead of using iterable name, we can provide direct value at that position

In [47]:
type()
len()
min()
max()
print()
sorted()

In [6]:
if=10
if

SyntaxError: invalid syntax (2983687664.py, line 1)

In [48]:
reversed('python')

- I already done my work 
- your output was started in the memory location
- whenever you see this kind of answer less than an greater then symbol of memory
- use for loop to see the answer

In [50]:
str1='python'
output=reversed(str1)
for i in output:
    print(i)

n
o
h
t
y
p

In [7]:
sorted('naresh')

['a', 'e', 'h', 'n', 'r', 's']

In [2]:
l=['a', 'e', 'h', 'n', 'r', 's']
l.reverse()
l

['s', 'r', 'n', 'h', 'e', 'a']

In [13]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

In [4]:
a=list(reversed('naresh'))
a

['h', 's', 'e', 'r', 'a', 'n']

In [19]:
for i in reversed('naresh'):
    print(i)

h
s
e
r
a
n

In [21]:
sorted([1,10,2,20,300,50,150,30])

[1, 2, 10, 20, 30, 50, 150, 300]

In [22]:
sorted([1,10,2,20,300,50,150,30],reverse=True)

[300, 150, 50, 30, 20, 10, 2, 1]

**In**

In [24]:
str1=('naresh')
for i in str1:
    print(i)

n
a
r
e
s
h

**Note**

- In operator diirectly access the letters

In [34]:
# Q1). wap ask thr user count hou many 'a' are present in a 
# str1="hai naresh how are you"

# idea: counter wrapper
# step-1: count=0
# step-2: using for loop in operator iterate through given string
# step-3: apply the if condition , whenever the letter equal to 'a'
# step-4: count=count+1

count=0
str1="hai naresh how are you"
for i in str1:
    if i=='a':
        count=count+1
print(count)
    
# step-1: i='h'   if 'h'=='a'     False
# step-2: i='a'    if 'a'=='a'    count=0+1=1
# step-3: i='i'    if 'i'=='a'   count=1
# step-4:

3

In [35]:
# 2Q). wap ask the find how many wovels are there in a given string
# str1="hai naresh how are you"

count=0
str2="hai naresh how are you"
for i in str2:
    if i in'aeiou':
        count=count+1
print("the count is : ",count)

the count is :  9

In [36]:
count=0
str2="hai naresh how are you"
for i in str2:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        count=count+1
print("the count is : ",count)

the count is :  9

In [21]:
# Q3): home work qn
# str1= 'hai naresh how are you"
# repeated vowels
# we dont want repeated vowels
# count the vowels avoid the repetition : unique vowels


# step-1: count=0
# step-2: take one or more empty string ex= s2=''
# step-3: using for loop in operator iterate through given string
# step-4: condition-1: that letter should not available in s2
# step-5: condition-2: vowels check condition
# step-6:    count=count+1
# step-7:        update the s2= s2+<letter>

count=0
str1='hai naresh how are you'
str2=''
for i in str1:
    if i in 'aeiou' and i not in str2:
        count=count+1
        str2=str2+i
print(count,'non repeated vowels are ',str2)

5 non repeated vowels are  aieou

**how to update the empty strings**

In [44]:
s1='python'
s2=''
for i in s1:
    s2=s2+i     # concatenation
    
s2

'python'

**Concatenation**

In [46]:
s1='hello '
s2='bye'
s1+s2

'hello bye'

In [52]:
s1='hello'
s2=' '
s3='bye'
s4=s1+s2+s3
s4

'hello bye'

In [55]:
s1='hello'
s2='bye'
s1*s2
s1/s2
s1-s2

TypeError: can't multiply sequence by non-int of type 'str'

In [56]:
s1='hello'
s2='bye'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [57]:
s1='hello'
s2='bye'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [58]:
# s1*s2  cant multiply sequence by non-int of type 'str'
# s1/s2  unsupported operand type(s) for /: 'str' and 'str'
# s1-s2  unsupported operand type(s) for -: 'str' and 'str'

In [60]:
s1='hello'
s2=2
s1*s2

'hellohello'

**Index**

- Index meaning a number attached to a letter

- In python index starts with zero

- we have two directions

    - positive direction
         - positive numbers start with zero

    - negative direction
         - negative numbers start with -1

In [ ]:
s1='python'
-6 -5 -4 -3 -2 -1    ===>negative
p   y  t  h  0  n
6   5  4  3  2  1    ===>positive

In [62]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [63]:
s1='python'
s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')