In [ ]:
# In lambda function
# write if_else
# <if_ou> if else if out

**Dictionary**

- we already seen many data types

- string

- list

- tuple

- set

- Dictionary

- int float bool complex

- range

In [2]:
# By using lambda list reduce

str=b'hello'

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key : value}

**ZIP**

In [3]:
names=['ramesh','suresh','sathish']
age=[20,25,30]

for i,j in zip(names,age):
    print(i,j)

ramesh 20
suresh 25
sathish 30

In [5]:
list(zip(names,age))

[('ramesh', 20), ('suresh', 25), ('sathish', 30)]

In [ ]:
dict1={<key> : <value>}
names=['ramesh','suresh','sathish']
age=[20,25,30]

'ramesh' is the key ======== 20 its related value

dict1={'ramesh':20,'suresh':25,'sathish':30}

In [9]:
dict1={'ramesh':20,'suresh':25,'sathish':30}
type(dict1)

dict

In [12]:
min(dict1), len(dict1), max(dict1),

('ramesh', 3)

**create all types of dictionaries**

In [ ]:
- initialisation

- min

- max

-

In [13]:
d1={'manish':25,'shubam':15,'govind':15}
d2={'manish':'25','shubam':'15','govind':'15'}
d3={25:'manish',15:'shubam',15:'govind'}
d4={25:50}
d5={'friutes':['apple','cherry']}
d6={['apple','cherry']:'fruites'}
d7={('apple','cherry'):'fruites'}
d8={'ajay':25,'ajay':30}
d9={25:'ajay',30:'ajay'}
d10=

{'manish': 25, 'shubam': 15, 'govind': 15}

In [ ]:
list is not used as key

In [15]:
d7={('apple','cherry'): 'fruites'}
d7

{('apple', 'cherry'): 'fruites'}

In [ ]:
d8={'ajay':25,:30}

**keys**

**keys are important**  

-keys have only latest value

- No duplicate keys
  
- keys should be only one

- values can be duplicate

- which means different keys can have same values

- list can not be a key, Because lost are mutable

- tuple can be a key, Because tuple are immutable

In [19]:
d1={'manish':25,'shubam':15,'govind':15}
max(d1)

'shubam'

In [20]:
d2={'manish':'25','shubam':'15','govind':'15'}
max(d2)

'shubam'

In [26]:
d3={25:'manish',15:'shubam',15:'govind'}
max(d3)

25

In [21]:
d4={25:50}
max(d4)

25

In [22]:
d5={25:'manish','15':'shubam',15:'govind'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
d6={20:'manish',20:'shubam',20:'govind'}
max(d6)

20

In [25]:
d7={'manish':20,'shubam':20,'govind':20}
max(d7)

'shubam'

In [30]:
d7={'manish':20,'shubam':20,'govind':20}
list(reversed(d7))

['govind', 'shubam', 'manish']

**reversed**

- you might have think dictionay will reverse

- when you apply reversed, then you got to know

- only key will come in reverse

**In**

In [31]:
d1={'manish':25,'shubam':15,'govind':15}
for i in d1:
    print(i)

manish
shubam
govind

In [32]:
'manish' in d1

True

**Index**

In [33]:
d1={'manish':25,'shubam':20,'govind':15}
# if you want retrieve the values
# python will never give 'manish':25
d1[0]

KeyError: 0

In [34]:
d1={'manish':25,'shubam':20,'govindh':15}

d1['manish']

25

In [36]:
for i in d1:
    print(f"{i} has age {d1[i]}")

manish has age 25
shubam has age 20
govindh has age 15

In [38]:
names=['vignesh','mohit','nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

vignesh has age 20
mohit has age 25
nagesh has age 30

**dictionary to list**

In [42]:
d1={'manish':25,'shubam':20,'govindh':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])

values

[25, 20, 15]

In [ ]:
keys=[i for i in d1]
values=[]

[20]

**how to create a empty list**

In [44]:
l=[]
l.append(20)
l

[20]

**empty string**

**empty dictionary**

In [51]:
d={}
#  d[<key>] = <value>
type(d)

dict

In [52]:
d={}
d['vignesh']=20
d['mihit']=25
d['nagesh']=30
d

{'vignesh': 20, 'mihit': 25, 'nagesh': 30}

In [55]:
names=['vignesh','mihit','nagesh']
age=[20,25,30]
raj={}
for i,j in zip(names,age):
    raj[i]=j
raj

{'vignesh': 20, 'mihit': 25, 'nagesh': 30}

**string to list**

In [56]:
s='hello hai how are you'
s.split()

['hello', 'hai', 'how', 'are', 'you']

**word frequency**

In [61]:
# i/p : s='hello hai how are you'
# o/p : {'hello':1,'hai':2,'how':2,'are':1}

s='hello hai how are you'
words_list=s.split()
words_list
dict1={}

for word in words_list:
    dict1[word]=s.count(word)

dict1

{'hello': 1, 'hai': 1, 'how': 1, 'are': 1, 'you': 1}

In [62]:
srtings="""Data science is the study of data to extract 
    meaningful insights for business. It is a multidisciplinary
    approach that combines principles and practices from the 
    fields of mathematics, statistics, artificial intelligence, 
    and computer engineering to analyze large amounts of data."""

# task-1: in the above sentence you need to remove a,an,the
# task-2: data science first letter ascii value : 68
#             science first letter ascii value : 115

{'data':68,'science':115}

{'data': 68, 'science': 115}

**mutable-immutable**

- change the elements using index
- but in dictionary there is no index
- in dictionary we will change the value based key only
- instead of using index, change the values using key
- if it is change, it is mutable
- if it is not change it is immmutable

In [63]:
d={'manish':25,'shubam':20,'govindh':15}

- list and dictionary are mutable
- tuple and strings are immutable
- difference between list and tuple

In [66]:
d={'fruits':['mango']}

d['fruits'][0]

'mango'

In [70]:
d={'fruits':[{'apple':['kashmir']}]}
d['fruits'][0]['apple'][0]

'kashmir'

In [76]:
d={'fruits':[
    {'apple':
     {'kashmir':
      ['India']
     }
    }
]
  }
d['fruits'][0]['apple']['kashmir'][0]

'India'

In [88]:
d={'fruits':{'benganapally':{'mango':{'nagpur':{'MH':{'shivaji':{'shambaji'}}}}}}}

d['fruits']['benganapally']['mango']['nagpur']['MH']['shivaji']

{'shambaji'}

In [ ]:
string
list
tuple
dictionary all are class objects

In [16]:
print(type(()))

<class 'tuple'>

**items-keys-values**

In [1]:
d=d1={'manish':25,'shubam':20,'govindh':15}
d.items()

dict_items([('manish', 25), ('shubam', 20), ('govindh', 15)])

In [2]:
d.keys()

dict_keys(['manish', 'shubam', 'govindh'])

In [3]:
d.values()

dict_values([25, 20, 15])

In [18]:
d1={'manish':25,'shubam':20,'govindh':15}
key,values=[],[]
for i in d:
    print(i,d[i])
    key.append(i)
    values.append(d[i])

key,values

manish 25
shubam 20
govindh 15

(['manish', 'shubam', 'govindh'], [25, 20, 15])

In [7]:
d.keys()

dict_keys(['manish', 'shubam', 'govindh'])

In [10]:
type(d.keys())

dict_keys

In [19]:
list(d.keys()),list(d.values())

(['manish', 'shubam', 'govindh'], [25, 20, 15])

- Dictionary keys will give dictionary keys items in a list
- It looks like a list, but it is not list
- which means we can not apply list methods
- so we need to convert into list type, by using list type casting

In [28]:
list[d.keys()]   # it is not a list

list[dict_keys(['manish', 'shubam', 'govindh'])]

In [26]:
list(d.keys())

['manish', 'shubam', 'govindh']

In [29]:
for i in list[d.keys()]:
    print(i)

*list[dict_keys(['manish', 'shubam', 'govindh'])]

In [30]:
type(list[d.keys()])

types.GenericAlias

**method-1**

In [38]:
d1={'manish':25,'shubam':20,'govindh':15}
key,values=[],[]
for i in d:
    print(i,d[i])
    key.append(i)
    values.append(d[i])

key,values

manish 25
shubam 20
govindh 15

(['manish', 'shubam', 'govindh'], [25, 20, 15])

**method-2**

In [ ]:
d={'vignesh':20,'mohit':25,'nagesh':30}

In [31]:
d.items()

dict_items([('manish', 25), ('shubam', 20), ('govindh', 15)])

In [36]:
for i,j in d.items():
    print(i,j)

manish 25
shubam 20
govindh 15

In [37]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

manish 25
shubam 20
govindh 15

(['manish', 'shubam', 'govindh'], [25, 20, 15])

In [35]:
a=10,20  # works
a,b=10,20   # works
a,b=10   # fails

TypeError: cannot unpack non-iterable int object

In [39]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']